<form>
    <h1>Alterar Livro</h1>
    <mat-form-field class="form">
        <mat-label>Titulo</mat-label>
        <input matInput [(ngModel)]="livro.titulo" [formControl]="titulo" required type="text" name="titulo" placeholder="Ex. Tecnologia Moderna" maxlength="100">
        <mat-error *ngIf="titulo.invalid">{{ getMessage() }}</mat-error>
    </mat-form-field>
    <mat-form-field class="form">
        <mat-label>Nome Autor</mat-label>
        <input matInput [(ngModel)]="livro.nome_autor" [formControl]="autor" required type="text" name="autor" placeholder="Ex. ciência" maxlength="100">
        <mat-error *ngIf="autor.invalid">{{ getMessage() }}</mat-error>
    </mat-form-field>  
    <mat-form-field class="form">
        <mat-label>Texto</mat-label>
        <textarea matInput [(ngModel)]="livro.texto" [formControl]="texto" required type="text" name="texto" placeholder="Ex. ciência" maxlength="2000000"></textarea>
        <mat-error *ngIf="texto.invalid">{{ getMessage() }}</mat-error>
    </mat-form-field>  

    <div class="buttons">
        <button [disabled]="getMessage()" (click)="create()" class="mat-elevation-z8" mat-stroked-button color="primary">ATUALIZAR</button>
        <button class="mat-elevation-z8" (click)="cancel()" mat-stroked-button color="warn">CANCELAR</button>
    </div>
</form>